:root {
  --border-color: darkblue;
  --bar-color: red;
  --scale: 0.6;
}

html {
  background-color: black;
}

.container {
  width: clamp(4rem, 100%, 40rem);
  aspect-ratio: 16/9;
}

.bar-visualizer {
  display: flex;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  padding: 0.5rem;

  border: 0.15rem solid var(--border-color);
  border-radius: 0.2rem;

  background-color: black;
}

@keyframes color {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.bar-visualizer__bar {
  width: 100%;
  height: 100%;
  border-radius: 4rem;

  transform: scaleY(var(--scale));
  transform-origin: bottom;
  transition: transform 300ms;

  background: linear-gradient(to top, red, yellow);

  animation: color infinite 2s linear;
}

.step-visualizer__bar {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.step-visualizer__step {
  box-sizing: border-box;
  margin-bottom: 1px;
}